<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" 
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active" >List</a>
      <a mat-list-item [routerLink]="['/add']" routerLinkActive="router-link-active" >Add</a>
      <a mat-list-item [matMenuTriggerFor]="menu">View</a>
      <mat-menu #menu='matMenu'>
        <div *ngFor="let student of students$ | async">
          <a mat-menu-item style="text-decoration: none" [routerLink]="['idetial', student.id]" routerLinkActive="touter-link-active">
          {{student.name}}</a>
        </div>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" >
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>lab01</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
